.header{
    height: 68px;
    flex-direction: row;
    text-align: center;
    align-items: center;
    flex: 1;
    display: flex;
    place-content: center;
}

@media (min-width: 481px) and (max-width: 767px) {
    .left{
        flex: 1;
        display: flex;
        justify-content: flex-start;
        padding-left: 20px;
        padding-right: 20px;
    }

    .right{
        flex-direction: row;
        flex: 1;
        display: flex;
        justify-content: flex-end;
        padding-left: 20px;
        padding-right: 20px;
        align-items: center;
    }

    .menu{
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (min-width: 768px) {
    .left{
        display: none;
    }
    .right{
        display: none;
    }
    .menu{
        display: none;
    }
}