*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body{
    background: #ffffff;
    font: 14px Montserrat;
    color: #686868;
}

@media (min-width: 481px) and (max-width: 767px) {
    .panel{
        display: none;
    }
}